    <div class="announcement-bar-selector">
	{% render "announcement-bar-country", country: 'uk', domain: "liveinnermost.myshopify.com"%}
    {% render "announcement-bar-country", country: 'eu', domain: "innermost-eu.myshopify.com" %}
    {% render "announcement-bar-country", country: 'us', domain: "innermost-us.myshopify.com"%}
    {% render "announcement-bar-country", country: 'ca', domain: "innermost-ca.myshopify.com" %}
    {% render "announcement-bar-country", country: 'me', domain: "innermost-me.myshopify.com" %}
    {% render "announcement-bar-country", country: 'au', domain: "innermost-au.myshopify.com" %}
    {% render "announcement-bar-country", country: 'as', domain: "innermost-asia.myshopify.com" %}  
   </div>