<!-- UK  List id: NLLgWk --> 
<!-- US  List ID: H7ezA3 -->
<!-- EU List ID: KitYzY --> 
<!-- AU List ID: LGfA9h -->
<!-- CA List ID: JJAbKW-->
<!-- ME List ID: NC4e6t -->


<!-- UK  List id: NLLgWk --> 
<form id="email_signup-f-UK" class="email_signup-f-UK {% if homepage == true %} homepage-form {% endif %}{% if article == true %} article-form {% endif %}{% if blog == true %}blog-form{% endif %} custom-footer-form klaviyo_styling klaviyo_gdpr_embed_NLLgWk" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
    <input type="hidden" name="g" value="NLLgWk">
    <input type="hidden" name="$fields" value="$consent">
    <input type="hidden" name="$list_fields" value="$consent">
    <div class="klaviyo_field_group klaviyo_form_actions">      
      
      <input class="" type="email" value="" name="email" id="k_id_email" placeholder="Your email" />

      <button type="submit" class="klaviyo_submit_button">></button>
      <p class="klaviyo_disclaimer">
       I agree to the use of my data to customise my experience, perform analytics and deliver relevant advertising across platforms. I have read and agree with the Privacy Policy, Terms of Use and T&Cs.  I understand I can unsubscribe at any time. 
      </p>
    </div>

    <div class="klaviyo_messages">
      <div class="success_message" style="display:none;"></div>
      <div class="error_message" style="display:none;"></div>
    </div>
  
  </form>
  <script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
  <script type="text/javascript">
    KlaviyoSubscribe.attachToForms('#email_signup-f-UK', {
      hide_form_on_success: true,
      extra_properties: {
        $source: '$embed',
        $method_type: "Klaviyo Form",
        $method_id: 'embed',
        $consent_version: 'Embed default text',
      }
    });
  </script>



<!-- US  List ID: H7ezA3 -->
<form id="email_signup-f-US" class="email_signup-f-US {% if homepage == true %} homepage-form {% endif %}{% if article == true %} article-form {% endif %}{% if blog == true %}blog-form{% endif %} custom-footer-form klaviyo_styling klaviyo_gdpr_embed_H7ezA3" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
    <input type="hidden" name="g" value="H7ezA3">
    <input type="hidden" name="$fields" value="$consent">
    <input type="hidden" name="$list_fields" value="$consent">
    <div class="klaviyo_field_group klaviyo_form_actions">      
      
      <input class="" type="email" value="" name="email" id="k_id_email" placeholder="Your email" />

      <button type="submit" class="klaviyo_submit_button">></button>
      <p class="klaviyo_disclaimer">
       I agree to the use of my data to customise my experience, perform analytics and deliver relevant advertising across platforms. I have read and agree with the Privacy Policy, Terms of Use and T&Cs.  I understand I can unsubscribe at any time. 
      </p>
    </div>

    <div class="klaviyo_messages">
      <div class="success_message" style="display:none;"></div>
      <div class="error_message" style="display:none;"></div>
    </div>
  
  </form>
  <script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
  <script type="text/javascript">
    KlaviyoSubscribe.attachToForms('#email_signup-f-US', {
      hide_form_on_success: true,
      extra_properties: {
        $source: '$embed',
        $method_type: "Klaviyo Form",
        $method_id: 'embed',
        $consent_version: 'Embed default text',
      }
    });
  </script>



<!-- EU List ID: KitYzY --> 
<form id="email_signup-f-EU" class="email_signup-f-EU {% if homepage == true %} homepage-form {% endif %}{% if article == true %} article-form {% endif %}{% if blog == true %}blog-form{% endif %} custom-footer-form klaviyo_styling klaviyo_gdpr_embed_KitYzY" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
    <input type="hidden" name="g" value="KitYzY">
    <input type="hidden" name="$fields" value="$consent">
    <input type="hidden" name="$list_fields" value="$consent">
    <div class="klaviyo_field_group klaviyo_form_actions">      
      
      <input class="" type="email" value="" name="email" id="k_id_email" placeholder="Your email" />

      <button type="submit" class="klaviyo_submit_button">></button>
      <p class="klaviyo_disclaimer">
       I agree to the use of my data to customise my experience, perform analytics and deliver relevant advertising across platforms. I have read and agree with the Privacy Policy, Terms of Use and T&Cs.  I understand I can unsubscribe at any time. 
      </p>
    </div>

    <div class="klaviyo_messages">
      <div class="success_message" style="display:none;"></div>
      <div class="error_message" style="display:none;"></div>
    </div>
  
  </form>
  <script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
  <script type="text/javascript">
    KlaviyoSubscribe.attachToForms('#email_signup-f-EU', {
      hide_form_on_success: true,
      extra_properties: {
        $source: '$embed',
        $method_type: "Klaviyo Form",
        $method_id: 'embed',
        $consent_version: 'Embed default text',
      }
    });
  </script>


{% comment ^}
<!-- EU List ID: KitYzY --> 
<form id="email_signup-f-EU" class="email_signup-f-EU  {% if homepage == true %} homepage-form {% endif %}{% if article == true %} article-form {% endif %}{% if blog == true %}blog-form{% endif %} custom-footer-form klaviyo_styling klaviyo_gdpr_embed_KitYzY" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
    <input type="hidden" name="g" value="KitYzY">
    <input type="hidden" name="$fields" value="$consent">
    <input type="hidden" name="$list_fields" value="$consent">
    <div class="klaviyo_field_group klaviyo_form_actions">      
      
      <input class="" type="email" value="" name="email" id="k_id_email" placeholder="Your email" />

      <button type="submit" class="klaviyo_submit_button">></button>
       <p class="klaviyo_disclaimer">
       I agree to the use of my data to customise my experience, perform analytics and deliver relevant advertising across platforms. I have read and agree with the Privacy Policy, Terms of Use and T&Cs.  I understand I can unsubscribe at any time. 
      </p>
    </div>

    <div class="klaviyo_messages">
      <div class="success_message" style="display:none;"></div>
      <div class="error_message" style="display:none;"></div>
    </div>
  
  </form>
  <script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
  <script type="text/javascript">
    KlaviyoSubscribe.attachToForms('#email_signup-f-EU', {
      hide_form_on_success: true,
      extra_properties: {
        $source: '$embed',
        $method_type: "Klaviyo Form",
        $method_id: 'embed',
        $consent_version: 'Embed default text',
      }
    });
  </script>
{% endcomment %}

<!-- AU List ID: LGfA9h -->
<form id="email_signup-f-AU" class="email_signup-f-AU {% if homepage == true %} homepage-form {% endif %}{% if article == true %} article-form {% endif %}{% if blog == true %}blog-form{% endif %} custom-footer-form klaviyo_styling klaviyo_gdpr_embed_LGfA9h" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
    <input type="hidden" name="g" value="LGfA9h">
    <input type="hidden" name="$fields" value="$consent">
    <input type="hidden" name="$list_fields" value="$consent">
    <div class="klaviyo_field_group klaviyo_form_actions">      
      
      <input class="" type="email" value="" name="email" id="k_id_email" placeholder="Your email" />

      <button type="submit" class="klaviyo_submit_button">></button>
      <p class="klaviyo_disclaimer">
       I agree to the use of my data to customise my experience, perform analytics and deliver relevant advertising across platforms. I have read and agree with the Privacy Policy, Terms of Use and T&Cs.  I understand I can unsubscribe at any time. 
      </p>
    </div>

    <div class="klaviyo_messages">
      <div class="success_message" style="display:none;"></div>
      <div class="error_message" style="display:none;"></div>
    </div>
  
  </form>
  <script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
  <script type="text/javascript">
    KlaviyoSubscribe.attachToForms('#email_signup-f-AU', {
      hide_form_on_success: true,
      extra_properties: {
        $source: '$embed',
        $method_type: "Klaviyo Form",
        $method_id: 'embed',
        $consent_version: 'Embed default text',
      }
    });
  </script>




<!-- CA List ID: JJAbKW-->
<form id="email_signup-f-CA" class="email_signup-f-CA {% if homepage == true %} homepage-form {% endif %}{% if article == true %} article-form {% endif %}{% if blog == true %}blog-form{% endif %} custom-footer-form klaviyo_styling klaviyo_gdpr_embed_JJAbKW" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
    <input type="hidden" name="g" value="JJAbKW">
    <input type="hidden" name="$fields" value="$consent">
    <input type="hidden" name="$list_fields" value="$consent">
    <div class="klaviyo_field_group klaviyo_form_actions">      
      
      <input class="" type="email" value="" name="email" id="k_id_email" placeholder="Your email" />

      <button type="submit" class="klaviyo_submit_button">></button>
      <p class="klaviyo_disclaimer">
       I agree to the use of my data to customise my experience, perform analytics and deliver relevant advertising across platforms. I have read and agree with the Privacy Policy, Terms of Use and T&Cs.  I understand I can unsubscribe at any time. 
      </p>
    </div>

    <div class="klaviyo_messages">
      <div class="success_message" style="display:none;"></div>
      <div class="error_message" style="display:none;"></div>
    </div>
  
  </form>
  <script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
  <script type="text/javascript">
    KlaviyoSubscribe.attachToForms('#email_signup-f-CA', {
      hide_form_on_success: true,
      extra_properties: {
        $source: '$embed',
        $method_type: "Klaviyo Form",
        $method_id: 'embed',
        $consent_version: 'Embed default text',
      }
    });
  </script>



<!-- ME List ID: NC4e6t -->
<form id="email_signup-f-ME" class="email_signup-f-ME {% if homepage == true %} homepage-form {% endif %}{% if article == true %} article-form {% endif %}{% if blog == true %}blog-form{% endif %} custom-footer-form klaviyo_styling klaviyo_gdpr_embed_NC4e6t" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
    <input type="hidden" name="g" value="NC4e6t">
    <input type="hidden" name="$fields" value="$consent">
    <input type="hidden" name="$list_fields" value="$consent">
    <div class="klaviyo_field_group klaviyo_form_actions">      
      
      <input class="" type="email" value="" name="email" id="k_id_email" placeholder="Your email" />

      <button type="submit" class="klaviyo_submit_button">></button>
      <p class="klaviyo_disclaimer">
       I agree to the use of my data to customise my experience, perform analytics and deliver relevant advertising across platforms. I have read and agree with the Privacy Policy, Terms of Use and T&Cs.  I understand I can unsubscribe at any time. 
      </p>
    </div>

    <div class="klaviyo_messages">
      <div class="success_message" style="display:none;"></div>
      <div class="error_message" style="display:none;"></div>
    </div>
  
  </form>
  <script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
  <script type="text/javascript">
    KlaviyoSubscribe.attachToForms('#email_signup-f-ME', {
      hide_form_on_success: true,
      extra_properties: {
        $source: '$embed',
        $method_type: "Klaviyo Form",
        $method_id: 'embed',
        $consent_version: 'Embed default text',
      }
    });
  </script>