{% comment %}
  Collections to ignore.
  Never pick related items from those.
{% endcomment %}

{% assign exclusions = 'frontpage,all' | split: ',' %}

{% comment %}
  Looking for a relevant collection.
{% endcomment %}

{% assign found_a_collection = false %}
{% if collection and collection.all_products_count > 1 %}
  {% unless exclusions contains collection.handle %}
    {% assign found_a_collection = true %}
  {% endunless %}
{% endif %}
{% unless found_a_collection %}
  {% for c in product.collections %}
    {% unless exclusions contains c.handle or c.all_products_count < 2 %}
      {% assign found_a_collection = true %}
      {% assign collection = c %}
      {% break %}
    {% endunless %}
  {% endfor %}
{% endunless %}

{% comment %}
  If we have a relevant collection.
{% endcomment %}

{% if found_a_collection %}
  {% assign counter = 0 %}
  {% assign break_at = 3 %}
  {% assign current_product = product %}
  {% assign productHandle = product.handle %}
  {% assign productsHandles = '' %}

  {% capture related_items %}
    {% assign productsHandles = productsHandles | append: '' | append: product.handle %}
    {% assign hover_class = "grid__image--caption" %}
    {% assign fit_image_class = 'grid__item--variable-height grid__image' %}

    {% if productHandle == 'tote-bag' %}
      {% for product in collections.all.products %}
        {% unless product.handle == current_product.handle and product.handle contains productsHandles %}
          {% if product.handle contains 'travel-kit' %}
            {% assign productsHandles = productsHandles | append: '' | append: product.handle %}
            {% include 'related-grid-item' %}
          {% endif %}
        {% endunless %}
      {% endfor %}
    {% else %}
      {% for product in collection.products %}
        {% unless product.handle == current_product.handle and product.handle contains productsHandles %}          
          {% include 'related-grid-item' %}
          {% assign counter = counter | plus: 1 %}
          {% if counter == break_at %}
            {% break %}
          {% endif %}
        {% endunless %}
      {% endfor %}
    {% endif %}
  {% endcapture %}

  {% assign related_items = related_items | trim %}

  {% unless related_items == blank %}
    <section class="product-related">
      <h2 class="section-title text-center">{{ "products.product.related" | t }}</h2>
      <div class="grid--products grid--full collection_main_new collection_main_news related_products related_products_product_slider">
        {{ related_items }}
      </div>
    </section>
  {% endunless %}
{% endif %}

{{ 'slick.css' | asset_url | stylesheet_tag }}
{{ 'slick-theme.css' | asset_url | stylesheet_tag }}

<script type="text/javascript">
  $(document).ready(function() {
    
    $(".related_products_product_slider").slick({
      infinite: true,
      slidesToShow: 2,
      slidesToScroll: 2,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
            infinite: true,

          }
        },
        {
          breakpoint: 768,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
    })
    
  })
</script>