{% assign number_of_related_products_to_show = 2 %}
{% assign max_height = 345 %}
{% assign grid_item_width = 'small--one-half medium-up--one-half large-up--one-third' %}

{% assign number_of_related_products_to_fetch = number_of_related_products_to_show | plus: 1 %}
{% assign max_height = 345 %}
{% assign grid_item_width = 'small--one-half medium-up--one-third large-up--one-quarter' %}
  
{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
{% assign found_a_collection = false %}
{% for c in product.collections %}
  {% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
    {% assign found_a_collection = true %}
    {% assign collection = c %}
  {% endif %}
{% endfor %}
{% endif %}

{% if collection and collection.products_count > 1 %}
    
<div class="related-products">
  <div class="grid grid--view-items">
    {% assign current_product = product %}
    {% assign current_product_found = false %}
      {% assign hand = collection.handle %}
    {% for product in collection.products limit: number_of_related_products_to_fetch %}
      {% if product.handle == current_product.handle %}  
        {% assign current_product_found = true %}
      {% else %}
        {% unless current_product_found == false and forloop.last %}
          <div class="swatch_hover grid__item grid__item--{{ section.id }} {{ grid_item_width }} {% cycle 'first-related', 'second-related', 'third-related', 'fourth-related large-down--hide small--show' %}">
            {% include 'product-grid-item' with collection.handle , max_height: max_height %}
          </div>
        {% endunless %}
      {% endif %}
    {% endfor %}
  </div>

</div>

{% endif %}