.slick-next{display: block;
    position: absolute;
    top: 271px;
 
}
.slick-prev
{
display: block;
    position: absolute;
    top: 230px;
  }
.test
{

 background: #ccc;
    text-align: center;
    height: 450px;
}
.banner_mains1
{
    width: 100%;
    height: 728px;
    position: relative;
    display: flex;
    min-height: 728px;
}
.l1,.r1
{
    width: 49.6%;
    height: auto;
    float: left;
    text-align: center;
    margin-right: 0.4%;
  text-align:center;
}
.article-image-section-product:hover h3 {
  color:#23ABA4 !important;
}

