<style>
  #shopify-chat, #tidio-chat,
  #shopify-section-footer {
    display: none !important;
  }

  html {
    padding-bottom: 0 !important;
  }

  @media (max-width: 500px) {
    html, body {
      position: relative;
      overflow: hidden;
      height: 100vh;
    }
  }
</style>

<div id="Landbot"></div>
<div class="progress">
 <progress id="progress-bar" value="20" max="100"></progress>
        <p id="progress-bar-value"></p>
</div>
	{% comment %}
    <div class="section">
      <div class="content">
        <h4>Messages List</h4>
        <hr>
        <div id="messages-list"></div>
      </div>
    </div>
	{% endcomment %}

<script src="https://static.landbot.io/landbot-widget/landbot-widget-1.0.0.js"></script>
<script>
  const myLandbot = new LandbotFrameWidget({
    container: '#Landbot',
    index: 'https://chats.landbot.io/v2/H-939946-ZYAU67Z12E0S64F4/index.html',
  });
  
const progressBar = document.getElementById('progress-bar');
const progressBarValue = document.getElementById('progress-bar-value');
const messagesList = document.getElementById('messages-list');

setProgress(0);

 
// Listen to incoming events
myLandbot.on('update-progressbar', (data) => {
  //console.log('A custom event was triggered with data:', data);
  setProgress(data.progressbar_val);
});

myLandbot.on('landbot-msg-receive', (msg) => {
  appendMessage(msg);
});

// Sets Progress Bar Value
function setProgress(value) {
  progressBar.value = value;
  progressBarValue.textContent = `${value} %`;
}

// Appends message to messages list
function appendMessage(msg) {
  if (msg.samurai !== undefined) {
    const elem = document.createElement('p');
    elem.className = 'msg';
    elem.textContent = msg.title || msg.message;
    messagesList.append(elem);
  }
}
</script>


