<div class="nootropics-section">
  {% section "nootropics-header" %}
  {% section "nootropics-ingredients" %}
  {% section "power-of-nootropics-section" %}
  {% section "index-testimonials-nootropics" %}
</div>