<div class="student-beans">
<script data-iframe='https://connect.studentbeans.com/v2/innermost/uk' data-load='connect' id='stb_root' src='https://cdn.studentbeans.com/third-party/all.js'></script>
</div>